<!DOCTYPE HTML>
<html>
<head>
    <title>C2 Dashboard</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css'/>
    <link rel='shortcut icon' href='/favicon.ico'/>
    <meta name='description' content='Dashboard for interacting with the Gothmog C2 Server.'/>
    <meta name='author' content='Taylor Dahlin'/>
    <meta charset='utf-8'/>

    <!-- Rich preview metadata -->
    <meta property='og:title' content='Gothmog C2 Dashboard'/>
    <meta property='og:site_name' content='Gothmog C2 Dashboard'/>
    <meta property='og:description' content='Dashboard for interacting with the Gothmog C2 Server.'/>
    <meta property='og:type' content='website'/>
    <meta property='og:image' content='/media/terminal_icon.png'/>
    {{#site_url}}
        <meta property="og:url" content="{{site_url}}"/>
    {{/site_url}}

</head>
<body>
    <div id='sidebar' class='sidebar'>
        <div id='ops-nav' class='ops-choice'>
            <select id='ops-select' class='ops-select'>
            </select>
        </div>
        <div id='new-nav' class='nav-choice'>
            <div class='nav-text'>
                Create New Op
            </div>
        </div>
        <div id='files-nav' class='nav-choice'>
            <div class='nav-text'>
                Files
            </div>
        </div>
        <div id='commands-nav' class='nav-choice'>
            <div class='nav-text'>
                Commands
            </div>
        </div>
    </div>
    <div id='content-container' class='content-container'>
        <div id='content' class='content'>
            <div id='command-content' class='displayed-content'>
                <div id='command-select-container'>
                    <label for='command-type-choice' class='command-type-choice'>Command type:</label>
                    <select id='command-type-choice' class='command-type-choice'>
                        <option value='shell'>Shell</option>
                        <option value='python'>Python</option>
                        <option value='control'>Control</option>
                    </select>
                </div>
                <input id='command-input' class='command-input' type='text'>
                <div id='command-create' class='command-create'>Submit</div>
                <div id='command-list' class='command-list'>
                    
                </div>
            </div>
            <div id='files-content' class='files-content'>
                <div id='file-upload-container'>
                    <label for='file-upload' class='file-upload'>Upload a file:</label>
                    <input type='file' id='file-upload' class='file-upload'>
                    <div id='file-upload-button' class='file-upload-button'>
                        Upload
                    </div>
                </div>
                <div id='files-list' class='files-list'>

                </div>
            </div>
        </div>
    </div>
    <script src='/javascripts/main.js'></script>
</body>
</html>
